*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    color:red;
}

.main{
    background-color:wheat;
    width:90vw;
    max-width: 1000px;
    margin:5rem auto;
    display:grid;
    gap :2rem;
}